<div class = "container">
    <div class = "Headingcontainer">
        <h1>Corona Virus</h1>
    </div>
    <div class = "AllCon">
        <div class = "aboutandsymp">
            <div class = "AboutCovid">
                <h1>What is COVID - 19 ?</h1>
                <p>Coronavirus disease 2019 (COVID-19) is defined as illness caused by a novel coronavirus now called severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2; formerly called 2019-nCoV), which was first identified amid an outbreak of respiratory illness cases in Wuhan City, Hubei Province, China.</p>
            </div>
            <div class = "symptomsCon">
                <h1>Symptoms</h1>
                <div class = "leftandright">
                    <div class = "left">
                        <div class = "Symptom">
                            <img src="../../../assets/images/symptoms-images/sore.png" alt="Sore Throat"/>
                            <h2>Sore Throat</h2>
                        </div>
                        <div class = "Symptom">
                            <img src="../../../assets/images/symptoms-images/headache.png" alt="Sore Throat"/>
                            <h2>Headache</h2>
                        </div>
                        <div class = "Symptom">
                            <img src="../../../assets/images/symptoms-images/nose.png" alt="Sore Throat"/>
                            <h2>Runny Nose</h2>
                        </div>
                    </div>
                    <div class = "right">
                        <div class = "Symptom1">
                            <h2>High Fever</h2>
                            <img src="../../../assets/images/symptoms-images/fever.png" alt="Sore Throat"/>
                        </div>
                        <div class = "Symptom1">
                            <h2>Dry Cough</h2>
                            <img src="../../../assets/images/symptoms-images/cough.png" alt="Sore Throat"/>
                            
                        </div>
                        <div class = "Symptom1">
                            <h2>Fatigue</h2>
                            <img src="../../../assets/images/symptoms-images/fatigue.png" alt="Sore Throat"/>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "transandprev">
            <div class = "transmissionCon">
                <h1>Transmission</h1>
                <div class = "transmit">
                    <div class = "transmission">
                        <img src="../../../assets/images/transmission-images/human.png" alt="Human Contact"/>
                        <h2>Human Contact</h2>
                    </div>
                    <div class = "transmission">
                        <img src="../../../assets/images/transmission-images/air.png" alt=""/>
                        <h2>Through Air</h2>
                    </div>
                    <div class = "transmission">
                        <img src="../../../assets/images/transmission-images/uo.png" alt=""/>
                        <h2>Objects</h2>
                    </div>
                </div>
            </div>
            <div class = "preventionCon">
            <h1>Prevention</h1>
                <div class = "transmit">
                    <div class = "transmission">
                        <img src="../../../assets/images/prevention-images/wash.png" alt="Human Contact"/>
                        <h2>Wash Hands</h2>
                    </div>
                    <div class = "transmission">
                        <img src="../../../assets/images/prevention-images/sd.png" alt=""/>
                        <h2>Social Distancing</h2>
                    </div>
                    <div class = "transmission">
                        <img src="../../../assets/images/prevention-images/mask.png" alt=""/>
                        <h2>Wear Mask</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>